/* Base styles for the entire document */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: auto; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

/* Styles for the sidebar navigation */
.sidebar {
    width: 4rem; 
    height: 100vh; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    overflow-x: hidden; 
    background-color: #f8f9fa; 
    display: flex;
    flex-direction: column; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar a {
    padding: 1rem; 
    text-decoration: none; 
    color: #333;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.sidebar img {
    max-width: 100%; 
    height: auto; 
}

/* Main content area styles */
.main {
    margin-left: 4rem; 
    background-color: #fff; 
    width: calc(100% - 4rem); 
    min-height: 100vh; 
}

.section {
    display: block; 
    background-color: #fff; 
    width: 100%;
    min-height: 100vh; 
}

/* Hero section styles */
.hero {
	position: relative; 
	display: flex;
	flex-direction: column; 
	justify-content: center; 
	align-items: flex-start; 
	height: 100vh; 
	padding: 4em; 
	box-sizing: border-box; 
	color: #333; 
	overflow: hidden; 
    z-index: 0; 
}

.hero::before {
	content: "";
	position: absolute; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../assets/img/bg/home.jpg) center center no-repeat;
	background-size: cover; 
	filter: grayscale(100%); 
	z-index: -1; 
}

.hero-title {
	max-width: 16em; 
	margin: 0 0 1em 0; 
	font-size: 7rem; 
	font-weight: bold; 
	line-height: 1.2; 
	color: white; 
	z-index: 1; 
}

.hero-button {
	padding: 1em 2.5em; 
	color: #fff; 
	text-decoration: none; 
    background-color: transparent; 
	border: 0.2em solid white; 
    border-color: #fff; 
	border-radius: 0.25rem; 
	max-width: 250px; 
	display: inline-block; 
	text-align: center; 
	margin-left: 1em; 
	cursor: pointer; 
    font-weight: bold;
    font-size: larger;
	z-index: 1; 
}

.hero-button:hover {
	background-color: #fff; 
	color: #000; 
	transition: background-color, color 0.3s;
}

/* About Section */
.about-section {
    position: relative; 
	display: flex;
	flex-direction: column; 
	justify-content: center; 
	align-items: flex-start; 
	height: 100vh; 
	padding: 4em; 
	box-sizing: border-box; 
	color: #333; 
	overflow: hidden; 
    z-index: 0; 
}

.about-section::before {
    content: "";
	position: absolute; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    border: 1rem solid white;
	background: url(../assets/img/bg/about.jpg) center center no-repeat;
	background-size: cover; 
	filter: grayscale(100%); 
	z-index: -1; 
}

.inner-about-section {
    width: 55%; 
    background-color: #fff;
    padding: 100px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-about-section h1 {
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold;
    text-align: center; 
}

.about-text {
    font-size: small;
    color: #333;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.about-features {
    display: flex;
    justify-content: center; 
    font-weight: bold;
    font-size: medium;
    width: 100%; 
    text-align: center; 
}

.about-features span {
    margin: 0 10px; 
}

/* Map container styles */
#map { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

.filter-controls  {
    background-color: #f8f9fa; 
    z-index: 1;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}