/* Custom CSS */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: auto; 
    font-family: Arial, sans-serif;
}

/* Sidebar Navigation Elements */
.sidebar {
    width: 4rem; 
    height: 100vh; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    overflow-x: hidden; 
    background-color: grey; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar a {
    padding: 1rem; 
    text-decoration: none; 
    color: black; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.sidebar img {
    max-width: 100%; 
    height: auto; 
}

.bottom-link {
    margin-top: auto; 
}

/* Main Content Elements */
.main {
    margin-left: 4rem; 
    background-color: black; 
    width: calc(100% - 4rem); 
    min-height: 100vh; 
}

.section {
    display: block; 
    background-color: white; 
    width: 100%; 
    min-height: 100vh; 
}

/* Map Elements */
.map {  
    width: 100%; 
    height: 100%; 
}

/* Footer Elements */
.footer {
    display: block; 
    background-color: white; 
    width: 100%; 
    height: 10rem; 
}
